.terraform*
terraform.tfstate*
.DS_Store
credentials.json

*.crt
*.cer
*.ca-bundle
*.p7b
*.p7c
*.p7s
*.pem
*.key
*.keystore
*.jks
*.p12
*.pfx

terraform.tfvars
config.gcp.tfbackend
home-ops.code-workspace
backend.tf
.config.env
kubeconfig
gke_gcloud_auth_plugin_cache