apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: system
spec:
  interval: 15m
  chart:
    spec:
      chart: external-secrets
      version: 0.7.2
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    serviceAccount:
      annotations:
        iam.gke.io/gcp-service-account: external-secrets@ninjawombat.iam.gserviceaccount.com
    installCRDs: true
    serviceMonitor:
      enabled: false
    webhook:
      serviceMonitor:
        enabled: false
    certController:
      serviceMonitor:
        enabled: false
