
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: dev-secret-store
  namespace: dev
spec:
  provider:
    gcpsm:
      projectID: ninjawombat #GCP projectID
      auth:
        workloadIdentity:
          clusterLocation: us-west4-b #GKE cluster location
          clusterName: ninjawombat #GKE clustername
          serviceAccountRef:
            name: external-secret-operator@ninjawombat.iam.gserviceaccount.com #KSA_NAME

---
apiVersion: "external-secrets.io/v1beta1"
kind: ExternalSecret
metadata:
  name: demo-password-1
spec:
  backendType: gcpSecretsManager
  data:
  - name: password
    key: demo-password-1
---
apiVersion: "external-secrets.io/v1beta1"
kind: ExternalSecret
metadata:
  name: demo-password-2
spec:
  backendType: gcpSecretsManager
  data:
  - name: password
    key: demo-password-2
